@import "./styles/rose-pine-dawn.css";

* {
  border: none;
}

* {
  /* reference the color by using @color-name */
  background: @base;
  border: 1px solid @overlay;
}

#memory {
  color: @foam;
}

#temperature {
  color: @rose;
}
